{{#if (is new)}}
  
{{else}}
  {{#if (is base)}}
    <p class="tagline">{{base.tagline}}</p>
  {{else}}
    {{log 'Load Error. Base context is empty'}}
  {{/if}}
  {{#if (is add)}}
  
  {{/if}}
{{/if}}
