{{#with new}}
    
  {{#with ../this.update}}
      
    {{#with ../../this.base}}  
      <p>{{tagline}}</p>
    {{else}}
      <h1>No text</h1>
    {{/with}}
  {{else}}
    <h1>Updated Sidebar</h1>
  {{/with}}
{{else}}
  <h1>New Sidebar</h1>
{{/with}}
